<section id="iniciop" style="margin-top:0%">
    <img src="../../assets/inicio-fondo.png" alt="" width="100%">
</section>
<section style="margin-top:0%" class="fondoim">
    <br><br>
    <h2>Conoce algunas de las opciones que te sugerimos</h2>

    <!--CARDS-->
    <div class="librosinicio">
        <div class="card" style="width: 18rem; background-color: rgba(45, 59, 59, 0.7);">
            <img class="card-img-top" src="../../assets/book1.jpg" alt="">
            <div class="card-body">
                <h4>Infantil</h4>
                <p>Coraline escrito por Neil Gaiman.</p>
                <p>"Dicen que hasta el espíritu más orgulloso puede doblegarse por amor"</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; background-color: rgba(45, 59, 59, 0.7);">
            <img class="card-img-top" src="../../assets/book12.jpg" alt="">
            <div class="card-body">
                <h4>Juvenil</h4>
                <p>La chica del tren escrito por Paula Hawkins.</p>
                <p>"Comprendió que era posible echar de menos y llorar lo que nunca se ha tenido"</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="librosinicio">
        <div class="card" style="width: 18rem; background-color: rgba(45, 59, 59, 0.7);">
            <img class="card-img-top" src="../../assets/book6.jpg" alt="">
            <div class="card-body">
                <h4>Terror</h4>
                <p>Doctor Sueño escrito por Stephen King</p>
                <p>"Todos somos moribundos. El mundo no es más que una residencia de cuidados paliativos con aire fresco"</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; background-color: rgba(45, 59, 59, 0.7);">
            <img class="card-img-top" src="../../assets/book7.jpeg" alt="">
            <div class="card-body">
                <h4>Juvenil</h4>
                <p>Orgullo y prejuicio escrito por Jane Austen.</p>
                <p>"Para ella, él era el último hombre; para él, ella parecía ser la única mujer"</p>
                <a href="#" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>

</section>