<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<div class="bg-dark ftr" style="color: white;">
    <div>
        <h3>¡Contáctanos!</h3>
        <i class="fas fa-phone-square-alt"> 449-1234-5678</i><br>
        <i class="fas fa-envelope"> hello@bookmania.com</i><br>
        <i class="fab fa-skype"> bookmania.hello</i>
    </div>
    <div>
        <h3>¡Síguenos en redes!</h3>
        <i class="fab fa-facebook"> @Bookmania</i><br>
        <i class="fab fa-instagram"> @Bookmania</i><br>
        <i class="fab fa-twitter"> @Bookmania</i>
    </div>
    <div>
        <h3>Información</h3>
        <p>Copyright <i class="far fa-copyright"></i> 2021 <br> Diseñado por Veronica Romo</p>

    </div>
</div>