<section>
    <br><br><br><br><br><br>
    <div class="info">
        <h2>Sobre la página</h2>
        <pre>
            Bookmania!
            Nuestro objetivo es fomentar la lectura e informar a nuestros 
            lectores sobre nuevas publicaciones de distinta categoría.
            Se trata de una página informativa para el examen de segundo 
            parcial de la materia de Tecnologías web.
            Desarrollada por Veronica Romo.</pre>
    </div>
    <br><br><br><br><br><br>
    <div style="margin-left: 10%; margin-right: 10%;">
        <div style="background-color: rgba(2, 48, 71,0.7);">
            <p>"El amor por la lectura es algo que se aprende pero no se enseña. De la misma forma que nadie puede obligarnos a enamorarnos, nadie puede obligarnos a amar un libro. Son cosas que ocurren por razones misteriosas, pero de lo que sí estoy convencido
                es que a cada uno de nosotros hay un libro que nos espera. En algún lugar de la biblioteca hay una página que ha sido escrita para nosotros"</p>
        </div>
    </div>
    <br>

    <div>

    </div>
</section>