<div class="contenedor">
    <br><br><br>
    <div class="form">
        <br><br><br>
        <div class="formcont">
            <h2>¡Contáctanos!</h2>
            <input type="text" [ngStyle]="{'background': color1}" [(ngModel)]="name" placeholder="Nombre"><br><br>
            <input type=" text " [ngStyle]="{ 'background': color2} " [(ngModel)]="apellido " placeholder="Apellido "> <input type="text " [ngStyle]="{ 'background': color3} " [(ngModel)]="email " placeholder="Email " required>
            <br><br>
            <input type="text " [ngStyle]="{ 'background': color4} " [(ngModel)]="mensaje " placeholder="Mensaje" style="height: 30vh;">
            <br><br>
            <input type="submit" value="Enviar" id="submit">
            <br><br>
        </div>
    </div>

    <br>
</div>