<section>
    <br>
    <h3>Recomendaciones de libros</h3>
    <br>
    <div class="libro">
        <div><img src="../../assets/book4.jpg" alt=""></div>
        <div>{{libro4}}
            <br>
            <button type="button" class="btn btn-outline-light">Ver más</button>
        </div>
    </div>
    <br><br><br>
    <div class="libro">
        <div>{{libro5}}
            <br>
            <button type="button" class="btn btn-outline-light">Ver más</button>
        </div>
        <div><img src="../../assets/book5.jpeg" alt=""></div>
    </div>
    <br><br><br>
    <div class="libro">
        <div><img src="../../assets/book9.jpg" alt=""></div>
        <div>{{libro9}}
            <br>
            <button type="button" class="btn btn-outline-light">Ver más</button>
        </div>
    </div>
    <br><br><br>
    <div class="libro">
        <div>{{libro10}}
            <br>
            <button type="button" class="btn btn-outline-light">Ver más</button>
        </div>
        <div><img src="../../assets/book10.jpg" alt=""></div>
    </div>
    <br><br><br>
    <div class="libro">
        <div><img src="../../assets/book14.jpg" alt=""></div>
        <div>{{libro14}}
            <br>
            <button type="button" class="btn btn-outline-light">Ver más</button>
        </div>
    </div>
</section>